  body{
      background-image: url("background-image.png");
  background-size: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  table, th, td {
  border: 1px solid;
}

hr{
    color: #099;
}

  .button {
  background-color: #996600;
  color: white;
  border-radius: 10px 10px 10px 10px;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}